version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app-socket
    restart: unless-stopped
    volumes:
      - .:/var/www
      - /var/www/vendor
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - APP_KEY=${APP_KEY}
      - BROADCAST_DRIVER=pusher
      - CACHE_DRIVER=file
      - QUEUE_CONNECTION=sync
      - SESSION_DRIVER=file
    networks:
      - laravel

  nginx:
    image: nginx:stable-alpine
    container_name: nginx-server1
    restart: unless-stopped
    ports:
      - "8001:81"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:
    external: true
